# --- Database (Local Development) ---
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=
# Format: postgresql://<user>:<password>@<host>:<port>/<db_name>
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

#Local Postgres details for Docker(Testing)
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_NAME=
TEST_DB_PORT=

#Local Postgres connection string(Testing)
TEST_DATABASE_URL=postgresql://${TEST_DB_USER}:${TEST_DB_PASSWORD}@localhost:${TEST_DB_PORT}/${TEST_DB_NAME}


#JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_ALGORITHM=






