# --- Database ---
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=
# Format: postgresql://<user>:<password>@<host>:<port>/<db_name>
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

#SUPABASE Auth
SUPABASE_URL=
SUPABASE_ANON_KEY=

GOOGLE_VISION_API_KEY=
#Document AI
DOCUMENT_AI_PROCESSOR_ID=
GCP_LOCATION=
GCP_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=

ENABLE_DEBUG=
HF_SPACE=
