# --- Database (Local Development) ---
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=
# Format: postgresql://<user>:<password>@<host>:<port>/<db_name>
DATABASE_URL= 

#SUPABASE Auth
SUPABASE_URL=
SUPABASE_ANON_KEY=

GOOGLE_VISION_API_KEY=

ENABLE_DEBUG=





